/* src/index.css */
@font-face {
  font-family: 'LBC';
  /* ↓ correct relative path from index.css → assets/fonts */
  src: url('./assets/fonts/LBC Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  font-family: LBC, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
